<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- config fragment 사용, header안에 공통적으로 들어가는 것들이 모여있다. -->
    <th:block th:replace="thymeleaf/fragment/config :: configFragment('거래내역추가')"></th:block>
</head>
<body>

<!--Header 영역을 참조합니다.(내비게이션바를 불러온다)-->
<header th:replace="thymeleaf/fragment/header :: headerFragment('거래내역 추가 페이지')"></header>
<!-- 특정 회원 이름을 받아 넣어주는 것으로 수정 -->


<div class="frameFromAddTransactionHistory">
    <!-- 거래내역 추가 페이지 최상단 태그 ----------------------------------------------------------------------->


    <!-- 거래내역 추가 페이지 에서 부가 기능 버튼들 -------------------------->
    <div style="margin-top: 50px;">
        <button type="button" class="btn btn-light">선택 항목 삭제</button>

        <span style="float: right">
        <button type="button" class="btn btn-light" id="manageSortName">분류명 관리</button>
        <button type="button" class="btn btn-light" id="addTransactionField">내역 필드 추가</button>
        <button type="button" class="btn btn-secondary">거래내역 추가</button>
        </span>
    </div>

    <hr width="100%" color="blue" size="3">

    <!-- 거래내역 추가 테이블 ------------------------------------------------>
    <div style="margin-top: 50px;">
        <table class="table table-hover">
            <thead>
            <tr style="text-align: center">
                <th scope="col"><input class="form-check-input" type="checkbox" value="" id="checkBoxAll"></th>
                <th scope="col">번호</th>
                <th scope="col">날짜 <span class="essentialCheck">*</span></th>
                <th scope="col">분류 <span class="essentialCheck">*</span></th>
                <th scope="col">메모</th>
                <th scope="col">금액 <span class="essentialCheck">*</span></th>
                <th scope="col">수입/지출 <span class="essentialCheck">*</span></th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr id="uniqueTr1"> <!-- 필드가 추가 되면 uniqueTr 뒤에 uniqueNum에 해당 하는 숫자가 붙는다. -->
                <th scope="row">
                    <input class="form-check-input" type="checkbox" value="" id="checkBox1">
                </th>
                <td id="uniqueNum1">1</td>
                <td>
                    <input type="date" id="selAddTransactionDate1">
                </td>
                <td>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="sortList1">
                        <option selected style="text-align: center">---선택---</option>
<!--                        <option value="1">One</option>-->
<!--                        <option value="2">Two</option>-->
<!--                        <option value="3">Three</option>-->
                    </select>
                    <span style="color: red; font-size: small" id="sortListValid1">※분류명을 선택하기 위해서는 날짜를 먼저 선택해 주세요.</span>
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" placeholder="메모입력(10글자 이내)"
                           aria-label=".form-control-sm example">
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" placeholder="최대 10억 미만 으로 입력 가능(숫자만 입력 가능)" style="width: 350px"
                           aria-label=".form-control-sm example">
                </td>
                <td>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>수입</option>
                        <option value="1">지출</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- 제이쿼리 사용 -->
<!-- 7일치 내역 더 보기 버튼을 클릭할 경우, 자바스크립트로 타임리프 객체 넘기는 방법 -->
<script type="text/javascript" th:inline="javascript">
    var userId = [[${userId}]];
</script>
<script type="text/javascript" src="/resources/static/js/addTransactionHistory.js"></script>



</body>
</html>