<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- config fragment 사용, header안에 공통적으로 들어가는 것들이 모여있다. -->
    <th:block th:replace="thymeleaf/fragment/config :: configFragment('차트(통계)')"></th:block>
</head>
<body>

<!--Header 영역을 참조합니다.(내비게이션바를 불러온다)-->
<header th:replace="thymeleaf/fragment/header :: headerFragment('통계 페이지')"></header>
<!-- 특정 회원 이름을 받아 넣어주는 것으로 수정 -->


<div class="frameFromMyInfo"> <!-- 전체 ui의 위치 CSS가 적용된 Frame -->

    <!-- 특정월 검색 or 기간 검색을 선택하는 부분 -->
    <div>
        <!-- 사용자가 특정 기간을 검색했을 경우 기간 검색 radio태그에 select가 되도록 하기 위한 코드 -->
        <div th:if="${searchMethod} == '기간검색'" style="display: inline">
            <div class="form-check" style="display: inline-flex; margin-right: 10px; margin-bottom: 15px;">
                <input class="form-check-input" type="radio" name="searchRequirement" id="searchMonth"
                       value="특정월">
                <label class="form-check-label" for="searchMonth">
                    특정 월 검색
                </label>
            </div>
            <div class="form-check" style="display: inline-flex">
                <input class="form-check-input" type="radio" name="searchRequirement" id="searchPeriod"
                       value="기간" checked>
                <label class="form-check-label" for="searchPeriod">
                    기간 검색
                </label>
            </div>
        </div>
        <!-- 사용자가 특정월을 검색했을 경우 특정 월 검색 radio태그에 select가 되도록 하기 위한 코드 -->
        <div th:unless="${searchMethod} == '기간검색'" style="display: inline">
            <div class="form-check" style="display: inline-flex; margin-right: 10px; margin-bottom: 15px;">
                <input class="form-check-input" type="radio" name="searchRequirement" id="searchMonth"
                       value="특정월" checked>
                <label class="form-check-label" for="searchMonth">
                    특정 월 검색
                </label>
            </div>
            <div class="form-check" style="display: inline-flex">
                <input class="form-check-input" type="radio" name="searchRequirement" id="searchPeriod"
                       value="기간">
                <label class="form-check-label" for="searchPeriod">
                    기간 검색
                </label>
            </div>
        </div>
        <span id="searchValid"></span>

        <!-- 검색 조건을 선택하는 부분 ---------------------------------------------------------------------------------->
        <div id="searchPart">

            <!-- 만약 사용자가 기간 검색을 통해 검색을 했다면 검색 이후에도 특정 기간 검색 ui가 유지 되도록 조건 -->
            <div th:if="${searchMethod} == '기간검색'" style="display: inline">
                <span style="margin-right: 7px;">특정 기간 검색</span>
                <input type="month" id="startDate" style="margin-right: 10px;" th:value="${startDate}">
                <span style="margin-left: 3px; margin-right: 3px;">~</span>
                <input type="month" id="endDate" style="margin-right: 10px;" th:value="${endDate}">
                <!-- controller에서 넘어온 type에 따라 수입 or 지출에 check되도록 if, else if 사용 -->
                <div style="display: inline" th:if="${type} == '지출'">
                    <div class="form-check" style="display: inline-flex; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               value="지출" checked>
                        <label class="form-check-label" for="flexRadioDefault1">지출 통계</label>
                    </div>
                    <div class="form-check" style="display: inline-flex">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               value="수입">
                        <label class="form-check-label" for="flexRadioDefault2">수입 통계</label>
                    </div>
                </div>
                <!-- controller에서 넘어온 type에 따라 수입 or 지출에 check되도록 if, else if 사용 -->
                <div style="display: inline" th:unless="${type} == '지출'">
                    <div class="form-check" style="display: inline-flex; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               value="지출">
                        <label class="form-check-label" for="flexRadioDefault1">
                            지출 통계
                        </label>
                    </div>
                    <div class="form-check" style="display: inline-flex">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               value="수입"
                               checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            수입 통계
                        </label>
                    </div>
                </div>
                <div style="display: inline">
                    <button type="button" class="btn btn-outline-secondary" style="float: right; margin-right: 7px;"
                            id="doSearchChartByPeriod">검색
                    </button>
                </div>
                <hr class="frame" style="margin-top: 20px; display: flex; width: 100%">
            </div>
            <!-- 만약 사용자가 특정 월 검색을 통해 검색을 했다면 검색 이후에도 특정 월 검색 ui가 유지 되도록 조건 -->
            <div th:unless="${searchMethod} == '기간검색'" style="display: inline">
                <span style="margin-right: 7px;">검색</span>
                <input type="month" id="selectMonth" style="margin-right: 10px;" th:value="'20'+${year}+'-'+${month}">
                <!-- controller에서 넘어온 type에 따라 수입 or 지출에 check되도록 if, else if 사용 -->
                <div style="display: inline" th:if="${type} == '지출'">
                    <div class="form-check" style="display: inline-flex; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               value="지출"
                               checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            지출 통계
                        </label>
                    </div>
                    <div class="form-check" style="display: inline-flex">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               value="수입">
                        <label class="form-check-label" for="flexRadioDefault2">
                            수입 통계
                        </label>
                    </div>
                </div>
                <!-- controller에서 넘어온 type에 따라 수입 or 지출에 check되도록 if, else if 사용 -->
                <div style="display: inline" th:unless="${type} == '지출'">
                    <div class="form-check" style="display: inline-flex; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               value="지출">
                        <label class="form-check-label" for="flexRadioDefault1">
                            지출 통계
                        </label>
                    </div>
                    <div class="form-check" style="display: inline-flex">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               value="수입"
                               checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            수입 통계
                        </label>
                    </div>
                </div>
                <div style="display: inline">
                    <!--                    <button type="button" class="btn btn-outline-primary" style="float: right;">당월</button>-->
                    <button type="button" class="btn btn-outline-secondary" style="float: right; margin-right: 7px;"
                            id="doSearchChart">검색
                    </button>
                </div>
                <hr class="frame" style="margin-top: 20px; display: flex; width: 100%">
            </div>
        </div>
    </div>


    <!-- 통계를 보여주는 부분 --------------------------------------------------------------------------------------------------------------------------------->
    <div style="margin-top: 60px;">

        <!-- 통계 정보를 테이블로 보여주는 부분 ---------------------------------------------------------------------------->
        <div style="width: 35%; float: left">
            <!-- 정렬 버튼(내림 or 오름) -->
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" style="font-size: small; font-weight: bold;">정렬</a>
                    <button type="button" class="btn btn-outline-secondary" style="float: left; font-size: small;" id="sortDesc">오름차순</button>
                    <button type="button" class="btn btn-outline-secondary" style="float: right; font-size: small;" id="sortAsc">내림차순</button>
                </div>
            </nav>
            <table class="table table-bordered table-hover" style="text-align: center;">
                <caption style="caption-side: top; font-weight: bold; font-size: small; text-align: center"
                         th:if="${searchMethod} == '기간검색'">
                    [[${userInfo.name}]]회원의 <br> [[${startDate}]] ~ [[${endDate}]] 거래내역
                </caption>
                <caption style="caption-side: top; font-weight: bold; font-size: small; text-align: center"
                         th:unless="${searchMethod} == '기간검색'">
                    [[${userInfo.name}]]회원의 [[${year}]]년 [[${month}]]월 거래내역
                </caption>
                <thead>
                <tr style="background-color: #FFA07A;">
                    <th scope="col">분류명</th>
                    <th scope="col">분류별 합계</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="summary : ${result}" id="sortList">
                    <th scope="row">[[${summary.name}]]</th>
                    <td th:text="${#numbers.formatInteger(summary.sum, 0, 'COMMA')+'원'}"></td>
                </tr>
                <tr style="background-color: #F8F9FA;" th:if="${type} == '지출'">
                    <th scope="row">목표예산</th>
                    <td th:if="${targetBudget} != null"
                        th:text="${#numbers.formatInteger(targetBudget, 0, 'COMMA')+'원'}">
                    </td>
                    <td th:unless="${targetBudget} != null"> -</td> <!-- 예산값으로 null값을 받은 경우 -->
                </tr>
                <tr style="background-color: #F8F9FA;" th:if="${type} == '지출'">
                    <th scope="row">남은 예산</th>
                    <td th:if="${remainPriceByTargetBudget} != -1"
                        th:text="${#numbers.formatInteger(remainPriceByTargetBudget, 0, 'COMMA')+'원'}"></td>
                    <td th:unless="${remainPriceByTargetBudget} != -1"> -</td>
                </tr>
                <tr style="background-color: #F8F9FA;">
                    <th scope="row" th:if="${type} == '지출'">총 지출</th>
                    <th scope="row" th:unless="${type} == '지출'">총 수입</th>
                    <!-- 총 지출이 존재할 경우 -->
                    <div th:if="${totalPrice} != null">
                        <td th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')+'원'}" th:if="${type} == '지출'"
                            style="color: blue;"></td>
                        <td th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')+'원'}" th:unless="${type} == '지출'"
                            style="color: red;"></td>
                    </div>
                    <!-- 총 지출이 없을 경우 -->
                    <div th:unless="${totalPrice} != null">
                        <td th:text="'-'" th:if="${type} == '지출'"
                            style="color: blue;"></td>
                        <td th:text="'-'" th:unless="${type} == '지출'"
                            style="color: red;"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 그래프를 보여주는 부분 --------------------------------------------------------------------------->
        <div style="width: 35%; float: right" th:if="${totalPrice} != null">
            <!--차트가 그려질 부분-->
            <div id="chart_div" style="display: inline; float: right"></div>
        </div>
        <div style="width: 35%; float: right" th:unless="${totalPrice} != null">
            <div id="chart_div2" style="display: inline; float: right"></div>
        </div>

    </div>


</div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- 구글 차트 사용 -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- 제이쿼리 사용 -->
<!-- 자바스크립트로 타임리프 객체 넘기는 방법 -->
<script type="text/javascript" th:inline="javascript">
    var userId = [[${userId}]];
    var password = [[${userInfo.password}]];
    var name = [[${userInfo.name}]];
    var primaryId = [[${primaryId}]];
    var year = [[${year}]];
    var month = [[${month}]];
    var type = [[${type}]];
    var totalPrice = [[${totalPrice}]];
    var remainPriceByTargetBudget = [[${remainPriceByTargetBudget}]];
    var result = [[${result}]]
</script>
<script type="text/javascript" src="/resources/static/js/chartPage.js"></script>


</body>
</html>