<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- config fragment 사용, header안에 공통적으로 들어가는 것들이 모여있다. -->
    <th:block th:replace="thymeleaf/fragment/config :: configFragment('차트(통계)')"></th:block>
</head>
<body>

<!--Header 영역을 참조합니다.(내비게이션바를 불러온다)-->
<header th:replace="thymeleaf/fragment/header :: headerFragment('통계 페이지')"></header>
<!-- 특정 회원 이름을 받아 넣어주는 것으로 수정 -->


<div class="frameFromMyInfo"> <!-- 전체 ui의 위치 CSS가 적용된 Frame -->

    <!-- 검색 조건을 선택하는 부분 ---------------------------------------------------------------------------------->
    <div>
        <span style="margin-right: 7px;">검색</span>
        <input type="month" id="selectMonth" style="margin-right: 10px;" th:value="'20'+${year}+'-'+${month}">
        <div class="form-check" style="display: inline-flex; margin-right: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                지출 통계
            </label>
        </div>
        <div class="form-check" style="display: inline-flex">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                수입 통계
            </label>
        </div>
        <div style="display: inline">
            <button type="button" class="btn btn-outline-primary" style="float: right;">당월</button>
            <button type="button" class="btn btn-outline-secondary" style="float: right; margin-right: 7px;">검색</button>
        </div>
        <hr class="frame" style="margin-top: 20px; display: flex; width: 100%">
    </div>



    <!-- 통계를 보여주는 부분 --------------------------------------------------------------------------------------------------------------------------------->
    <div style="margin-top: 60px;">

        <!-- 통계 정보를 테이블로 보여주는 부분 ---------------------------------------------------------------------------->
        <div style="width: 35%; float: left">
            <table class="table table-bordered table-hover" style="text-align: center;">
                <caption style="caption-side: top; font-weight: bold; font-size: small; text-align: center">[[${userInfo.name}]]회원의 [[${year}]]년 [[${month}]]월 거래내역</caption>
                <thead>
                <tr style="background-color: #FFA07A;">
                    <th scope="col" >분류명</th>
                    <th scope="col" >분류별 합계</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="summary : ${result}">
                    <th scope="row">[[${summary.name}]]</th>
                    <td th:text="${#numbers.formatInteger(summary.sum, 0, 'COMMA')+'원'}"></td>
                </tr>
                <tr style="background-color: #F8F9FA;">
                    <th scope="row">목표예산</th>
                    <td th:if="${targetBudget} != null"
                        th:text="${#numbers.formatInteger(targetBudget, 0, 'COMMA')+'원'}">
                    </td>
                    <td th:unless="${targetBudget} != null"> -</td> <!-- 예산값으로 null값을 받은 경우 -->
                </tr>
                <tr style="background-color: #F8F9FA;">
                    <th scope="row">예산 차이</th>
                    <td th:if="${remainPriceByTargetBudget} != -1" th:text="${#numbers.formatInteger(remainPriceByTargetBudget, 0, 'COMMA')+'원'}"></td>
                    <td th:unless="${remainPriceByTargetBudget} != -1"> -</td>
                </tr>
                <tr style="background-color: #F8F9FA;">
                    <th scope="row" th:if="${type} == '지출'">총 지출</th>
                    <th scope="row" th:unless="${type} == '지출'">총 수입</th>
                    <td th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')+'원'}" th:if="${type} == '지출'" style="color: blue;"></td>
                    <td th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')+'원'}" th:unless="${type} == '지출'" style="color: red;"></td>
                </tr>

                </tbody>
            </table>
        </div>

        <!-- 그래프를 보여주는 부분 --------------------------------------------------------------------------->
            <div style="width: 45%; float: right">
                <!--차트가 그려질 부분-->
                <canvas id="myChart" style="display: inline; float: right"></canvas>
            </div>

    </div>






</div>




<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- 제이쿼리 사용 -->
<!-- 자바스크립트로 타임리프 객체 넘기는 방법 -->
<script type="text/javascript" th:inline="javascript">
    var userId = [[${userId}]];
    var password = [[${userInfo.password}]];
    var name = [[${userInfo.name}]];
    var primaryId = [[${primaryId}]];
    var year = [[${year}]];
    var month = [[${month}]];
    var type = [[${type}]];
    var totalPrice = [[${totalPrice}]];
    var remainPriceByTargetBudget = [[${remainPriceByTargetBudget}]];
    var result = [[${result}]]
</script>
<script type="text/javascript" src="/resources/static/js/chartPage.js"></script>


</body>
</html>