/* 로그인 CSS */
.login_input {
    outline: 1px solid ;
    width: 90%;
    padding: 6px;
    justify-items: center;
}

.login_function {
    font-size: 11px;
    margin-top: 15px;
    color: #92949F;
}

.login_btn {
    margin-top: 60px;
    width: 85%;
    text-align: center;
}

.login_copy{
    color: #8E929F;
}